@font-face {
	font-family: 'whitney';
	src: url('../assets/fonts/WhitneyLightRegular.eot');
	src: url('../assets/fonts/WhitneyLightRegular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/WhitneyLightRegular.woff2') format('woff2'), url('../assets/fonts/WhitneyLightRegular.woff') format('woff'), url('../assets/fonts/WhitneyLightRegular.ttf') format('truetype'), url('../assets/fonts/WhitneyLightRegular.svg#WhitneyLightRegular') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'whitney';
	src: url('../assets/fonts/Whitney-Book.eot');
	src: url('../assets/fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Whitney-Book.woff2') format('woff2'), url('../assets/fonts/Whitney-Book.woff') format('woff'), url('../assets/fonts/Whitney-Book.ttf') format('truetype'), url('../assets/fonts/Whitney-Book.svg#Whitney-Book') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'whitney';
	src: url('../assets/fonts/WhitneyMedium.eot');
	src: url('../assets/fonts/WhitneyMedium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/WhitneyMedium.woff2') format('woff2'), url('../assets/fonts/WhitneyMedium.woff') format('woff'), url('../assets/fonts/WhitneyMedium.ttf') format('truetype'), url('../assets/fonts/WhitneyMedium.svg#WhitneyMedium') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'whitney';
	src: url('../assets/fonts/WhitneyBold.eot');
	src: url('../assets/fonts/WhitneyBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/WhitneyBold.woff2') format('woff2'), url('../assets/fonts/WhitneyBold.woff') format('woff'), url('../assets/fonts/WhitneyBold.ttf') format('truetype'), url('../assets/fonts/WhitneyBold.svg#WhitneyBold') format('svg');
	font-weight: 700;
	font-style: normal;
}