aside.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 4rem 6rem;
}

aside.about .avatar {
  width: 80px;
  height: 80px;
  justify-self: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/me.jpg);
  margin-right: 3rem;
  clip-path: circle(50% at 50% 50%);
}

aside.about .content {
  padding: 0 10rem 0 0rem;
  line-height: 1.2;
}

aside.about .content .title {
  margin-bottom: 8px;
}

@media (max-width: 1200px) {
  aside.about {
    text-align: center;
  }

  aside.about .avatar {
    justify-self: start;
    margin: 3rem auto;
    margin-bottom: 0rem;
  }

  aside.about .content {
    padding: 3rem;
  }

  aside.about {
    padding: 0;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
